.WeatherForecast .weather-forecast-min {
  opacity: 50%;
}

.WeatherForecast .weather-forecast-day {
  font-size: 25px;
}

.WeatherForecast .weather-forecast-icon {
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .WeatherForecast .weather-forecast-icon {
    max-width: 45%;
  }
}
