.WeatherForecast .weather-forecast-min {
  opacity: 50%;
}

.WeatherForecast .weather-forecast-icon {
  width: 60%;
}

@media (max-width: 700px) {
  .WeatherForecast .weather-forecast-icon {
    max-width: 50%;
  }
}
